USE [TrialDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18.08.2020 09:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 18.08.2020 09:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](150) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedUserName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 18.08.2020 09:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](300) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedUserName] [nvarchar](30) NOT NULL,
	[Note_Id] [int] NULL,
	[Owner_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvernoteUsers]    Script Date: 18.08.2020 09:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvernoteUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](25) NULL,
	[Surname] [nvarchar](25) NULL,
	[Username] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[ProfileImageFileName] [nvarchar](30) NULL,
	[IsActive] [bit] NOT NULL,
	[ActivateGuid] [uniqueidentifier] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedUserName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.EvernoteUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 18.08.2020 09:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LikedUser_Id] [int] NULL,
	[Note_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Likes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 18.08.2020 09:41:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](60) NOT NULL,
	[Text] [nvarchar](2000) NOT NULL,
	[IsDraft] [bit] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[CreatedUserName] [nvarchar](30) NOT NULL,
	[Owner_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Notes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Title], [Description], [CreatedDate], [UpdatedDate], [CreatedUserName]) VALUES (1, N'Sanders Cottages', N'573 Schofield Court', CAST(N'2020-05-09T17:19:10.493' AS DateTime), CAST(N'2020-05-09T17:19:10.493' AS DateTime), N'canakti')
INSERT [dbo].[Categories] ([Id], [Title], [Description], [CreatedDate], [UpdatedDate], [CreatedUserName]) VALUES (2, N'Obrien Crescent', N'89 Blair Yard', CAST(N'2020-05-09T17:19:12.403' AS DateTime), CAST(N'2020-05-09T17:19:12.403' AS DateTime), N'canakti')
INSERT [dbo].[Categories] ([Id], [Title], [Description], [CreatedDate], [UpdatedDate], [CreatedUserName]) VALUES (3, N'Robinson Cul de sac', N'334 Peters Road', CAST(N'2020-05-09T17:19:13.883' AS DateTime), CAST(N'2020-05-09T17:19:13.883' AS DateTime), N'canakti')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Text], [CreatedDate], [UpdatedDate], [CreatedUserName], [Note_Id], [Owner_Id]) VALUES (1, N'Etiam scelerisque nisl sed urna dictum mattis.', CAST(N'2020-01-03T09:03:51.887' AS DateTime), CAST(N'2019-06-13T12:05:55.523' AS DateTime), N'user3', 1, 6)
INSERT [dbo].[Comments] ([Id], [Text], [CreatedDate], [UpdatedDate], [CreatedUserName], [Note_Id], [Owner_Id]) VALUES (2, N'Phasellus non ante non lectus ullamcorper faucibus id a eros.', CAST(N'2019-12-04T14:17:36.937' AS DateTime), CAST(N'2019-07-03T23:25:19.823' AS DateTime), N'user5', 1, 8)
INSERT [dbo].[Comments] ([Id], [Text], [CreatedDate], [UpdatedDate], [CreatedUserName], [Note_Id], [Owner_Id]) VALUES (3, N'Mauris nec est quis libero interdum condimentum.', CAST(N'2019-06-02T23:02:05.710' AS DateTime), CAST(N'2019-09-06T02:31:31.487' AS DateTime), N'user4', 1, 7)
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[EvernoteUsers] ON 

INSERT [dbo].[EvernoteUsers] ([Id], [Name], [Surname], [Username], [Email], [Password], [ProfileImageFileName], [IsActive], [ActivateGuid], [IsAdmin], [CreatedDate], [UpdatedDate], [CreatedUserName]) VALUES (1, N'Can', N'Aktı', N'canakti', N'canakti@gmail.com', N'123456', N'user_boy.png', 1, N'826ea461-bdd9-4dcb-8f2e-a970be7aea73', 1, CAST(N'2020-05-09T17:19:09.473' AS DateTime), CAST(N'2020-05-09T17:24:09.473' AS DateTime), N'canakti')
INSERT [dbo].[EvernoteUsers] ([Id], [Name], [Surname], [Username], [Email], [Password], [ProfileImageFileName], [IsActive], [ActivateGuid], [IsAdmin], [CreatedDate], [UpdatedDate], [CreatedUserName]) VALUES (2, N'nazlı', N'bayam', N'nazlibayam', N'nazlibayam@gmail.com', N'123456', N'user_boy.png', 1, N'b314441b-7f51-4cca-b7ee-b6432ff4f511', 0, CAST(N'2020-05-09T17:19:09.473' AS DateTime), CAST(N'2020-05-09T17:24:09.473' AS DateTime), N'nazlibayam')
INSERT [dbo].[EvernoteUsers] ([Id], [Name], [Surname], [Username], [Email], [Password], [ProfileImageFileName], [IsActive], [ActivateGuid], [IsAdmin], [CreatedDate], [UpdatedDate], [CreatedUserName]) VALUES (3, N'Reagan', N'Bradshaw', N'user0', N'Amelia.Sanders@wordpress.info', N'123', N'user_boy.png', 1, N'e187e531-53fa-4eff-a44c-215ed0e09751', 0, CAST(N'2019-12-11T19:18:44.880' AS DateTime), CAST(N'2019-08-20T11:53:27.060' AS DateTime), N'user0')
SET IDENTITY_INSERT [dbo].[EvernoteUsers] OFF
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([Id], [LikedUser_Id], [Note_Id]) VALUES (1, 1, 1)
INSERT [dbo].[Likes] ([Id], [LikedUser_Id], [Note_Id]) VALUES (2, 2, 1)
INSERT [dbo].[Likes] ([Id], [LikedUser_Id], [Note_Id]) VALUES (3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Likes] OFF
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([Id], [Title], [Text], [IsDraft], [LikeCount], [CategoryId], [CreatedDate], [UpdatedDate], [CreatedUserName], [Owner_Id]) VALUES (1, N'sjhbiczeihrhknrm', N'Vivamus scelerisque felis sed nisl feugiat, mattis consequat lacus pulvinar.', 0, 4, 1, CAST(N'2019-07-04T01:55:47.623' AS DateTime), CAST(N'2019-10-31T22:59:00.970' AS DateTime), N'user5', 8)
INSERT [dbo].[Notes] ([Id], [Title], [Text], [IsDraft], [LikeCount], [CategoryId], [CreatedDate], [UpdatedDate], [CreatedUserName], [Owner_Id]) VALUES (2, N'bvkbepndwevzwqcrscj', N'Nulla malesuada massa eget nunc accumsan placerat.', 0, 1, 1, CAST(N'2020-03-19T17:14:10.840' AS DateTime), CAST(N'2020-02-18T18:21:03.370' AS DateTime), N'user3', 6)
INSERT [dbo].[Notes] ([Id], [Title], [Text], [IsDraft], [LikeCount], [CategoryId], [CreatedDate], [UpdatedDate], [CreatedUserName], [Owner_Id]) VALUES (3, N'duexc', N'Etiam imperdiet nibh vitae sapien fringilla, vitae vulputate quam tincidunt. Morbi sit amet nibh eget eros tempor mollis vel nec lacus.', 0, 2, 1, CAST(N'2019-06-26T04:16:30.207' AS DateTime), CAST(N'2019-10-09T04:31:08.540' AS DateTime), N'nazlibayam', 2)
SET IDENTITY_INSERT [dbo].[Notes] OFF
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.EvernoteUsers_Owner_Id] FOREIGN KEY([Owner_Id])
REFERENCES [dbo].[EvernoteUsers] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.EvernoteUsers_Owner_Id]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Notes_Note_Id] FOREIGN KEY([Note_Id])
REFERENCES [dbo].[Notes] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Notes_Note_Id]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Likes_dbo.EvernoteUsers_LikedUser_Id] FOREIGN KEY([LikedUser_Id])
REFERENCES [dbo].[EvernoteUsers] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_dbo.Likes_dbo.EvernoteUsers_LikedUser_Id]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Likes_dbo.Notes_Note_Id] FOREIGN KEY([Note_Id])
REFERENCES [dbo].[Notes] ([Id])
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_dbo.Likes_dbo.Notes_Note_Id]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notes_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_dbo.Notes_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notes_dbo.EvernoteUsers_Owner_Id] FOREIGN KEY([Owner_Id])
REFERENCES [dbo].[EvernoteUsers] ([Id])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_dbo.Notes_dbo.EvernoteUsers_Owner_Id]
GO
