@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="row">
                <h2 class="text-center">
                    Lorem ipsum dolor sit.
                </h2>
                <hr />
                <img class="center-block img-responsive img-rounded img-thumbnail" src="http://placehold.it/500x200" alt="">
                <hr />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse viverra, nisi sit amet iaculis feugiat, massa ex eleifend sem, at imperdiet turpis odio vel elit. Proin dignissim felis vitae ante tincidunt sodales. Proin a nibh efficitur nisi eleifend efficitur. Vivamus libero erat, tempus sed volutpat ut, pellentesque eu elit. In molestie scelerisque hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque pharetra ante justo, at mollis justo placerat at. Fusce eget sagittis ipsum. Vivamus efficitur nulla et eros facilisis posuere. Donec in ligula quis dolor dignissim maximus. Cras consectetur eleifend diam, a feugiat dui posuere ut. Nulla nisl eros, feugiat in mauris sit amet, vestibulum porta eros. Donec pretium molestie nulla, quis faucibus nisl molestie vitae. Aenean rhoncus facilisis feugiat.
                </p>
                <p>
                    Fusce in magna ac mi molestie feugiat nec at lectus. Donec ut elementum neque, quis viverra augue. Praesent ultricies risus quis iaculis suscipit. Curabitur eget risus ex. Nulla quis turpis auctor, varius urna ut, suscipit justo. Mauris suscipit nisl vel augue aliquam, sed pretium nulla semper. Ut efficitur vehicula dignissim. Vestibulum tortor nulla, tempor non leo vitae, lobortis blandit mauris. Sed ut dignissim mauris, quis blandit dolor. Suspendisse tincidunt magna augue, sit amet iaculis massa porta sit amet. Aliquam hendrerit, massa vel egestas volutpat, nibh erat rutrum lectus, non tristique ligula orci et magna. Vivamus elementum leo ut lectus facilisis, eu imperdiet quam tincidunt. Phasellus ac ultrices magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In id nisl et tellus facilisis commodo.
                </p>
                <p>
                    Sed laoreet, arcu ut imperdiet maximus, ante dui accumsan leo, et rhoncus diam odio id leo. Pellentesque luctus magna id lectus blandit hendrerit. Nunc non nisi pretium ante vulputate semper id sed lorem. Mauris maximus libero bibendum imperdiet lobortis. Nullam a lectus lorem. Mauris vel velit eu enim pharetra vehicula vitae et purus. Pellentesque a lectus lobortis, pretium ante auctor, tempus massa. Sed euismod lorem vitae arcu maximus, at bibendum risus facilisis. Donec quis ipsum a tellus facilisis dapibus in sed lorem. Nunc orci ipsum, volutpat vel rhoncus a, dapibus a lacus. Donec pulvinar, augue et ultrices pharetra, augue arcu mattis nisi, ut suscipit risus mauris in ex. Phasellus porta nisl risus, eu varius nulla bibendum ac. Maecenas lectus sem, tincidunt hendrerit convallis consectetur, faucibus ac odio. Proin feugiat arcu nulla, quis ullamcorper leo pellentesque ut. Mauris egestas velit vitae accumsan accumsan.
                </p>
            </div>
        </div>
    </div>
</div>

@section footer{
 @Html.Partial("_PartialFooter")
}